/*.table-container {
    overflow-y: auto;*/ /* Makes the table vertically scrollable */
    /**border: 25px solid transparent;*/ /* Adjust the size to match the border image */
    /*-webkit-border-image: url('/images/table-background.png') 30 stretch;*/ /* Adjust the image path and border size */
    /*-o-border-image: url('/images/table-background.png') 30 stretch;*/ /* Adjust the image path and border size */
    /*border-image: url('/images/table-background.png') 10 stretch;*/ /* Adjust the image path and border size */
    /*width: 100%;
    height:auto;
}*/

.table {
    width: 80%; /* Ensures the table takes up the full width of the container */
    max-width: none; /* Prevents Bootstrap from restricting the table width */
    border-collapse: separate; /* Ensure borders don't collapse */
    border-spacing: 0; /* No extra space between borders */
    border: none; /* Remove default table border */
}

.table-table {
    position: absolute;
}

.index__table-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.table th, .table td {
    border: 1px solid transparent; /* Remove default border to see custom border image */
}