
.btn-create-new-game {
    position: relative;
    min-width: 18.5vh;
    max-height: 7.5vh;
    font-size: 1.9vh;
    top: 10%;
    right: 65%;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 65%;
    right: 17%;
    top: 40%;
}

.table-header {
    position: absolute;
    flex: 1 1 auto; /* Take remaining height and allow for scrolling */
    background-color: transparent;
    width: 55vw;
    bottom: 94%;
    left: 5.5%;
}

.table-body {
    position: absolute;
    flex: 1 1 auto; /* Take remaining height and allow for scrolling */
    overflow-x: hidden;
    scrollbar-gutter: stable;
    background-color: transparent;
    height: 56vh; /* Adjust as needed */
    width: 52vw;
    left: 11.09%;
    top: 3.5%;
    transform: translateY(5%);
    direction: ltr; /* Ensures the scrollbar is on the right side */
}
    .table-body .table {
        direction: rtl; /* Content is right-to-left */
    }

        .table-body .table * {
            direction: rtl; /* But inner elements are left-to-right, ensuring proper layout */
        }


.table th {
    color: white;
    width: 17%;
    text-align: right;
}

.table td {
    border-bottom: 1px solid black;
}

.google-icon {
    color: #f0ad4e;
}

.table-buttons button,
.table-buttons label {
    border: none;
    background: none;
    cursor: pointer;
}

.table-buttons .switch input {
    display: none;
}

.table-buttons .switch span {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #f0ad4e;
    border-radius: 20px;
    position: relative;
    transition: background-color 0.2s;
}
    .table-buttons .switch span::after {
        content: '';
        width: 18px;
        height: 18px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 1px;
        transition: left 0.2s;
    }

.table-buttons .publish-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
}

    .table-buttons .publish-btn:disabled {
        cursor: not-allowed;
        opacity: 0.5; /* Optional: reduce opacity to indicate disabled state */
    }

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px none;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c4b6b6;
}
