@page "/index/"
@using template.Shared.Models.Games
@inject HttpClient Http
@inject NavigationManager Nav

<PageTitle>שם המשחק שלכם</PageTitle>

<ImageWithText_EmptySign Text="המשחקים שלי" />

<div class="container index__table-pic-container">
    <div class="text-conf text-in-image-bold">עדיין לא יצרת אף משחק!</div>
    <div class="text-conf text-in-image">לחיצה אחת על הכפתור והמשחק הראשון בדרך</div>
    <div class="button-big new-game-button" @onclick="CreateNewGame"></div>

    <img src="/images/table-background.png" alt="Table Background" class="w-100" />
    <img src="/images/B2PointingUP.png" alt="Boy Image" class="index__boy_image" />
    <img src="/images/G2PointingUP.png" alt="Girl Image" class="index__girl_image" />
</div>


@code {
    void CreateNewGame()
    {
        Nav.NavigateTo("/AddGame/");
    }
}

