
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 65%;
    right: 17%;
    transform: translate(0%, 9%);
}

.text-conf {
    position: absolute;
    text-align: center;
    color: black;
    width: 50%;
    left: 24%;
}

.text-in-image {
    top: 25%;
    font-size: 1.1vw;
    color: black;
    width: 50%;
    left: 24%;
}

.text-in-image-bold {
    top: 18%;
    font-size: 1.6vw;
    color: black;
    width: 50%;
    left: 24%;
}

.btn-create-new-game {
    text-align: center;
    max-width: 14vw;
    max-height: 8vh;
    font-size: 2vh;
    top: 39%;
    left: 43%;
}

.index__boy_image {
    position: absolute;
    top: 52%;
    left: 58%;
    transform: translate(3%,2%);
    width: 16.5%;
}

.index__girl_image {
    position: absolute;
    top: 53%;
    right: 57%;
    transform: translate(0%, 0.9%);
    width: 16%;
}