
.index__table-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 65%;
    right: 17%;
    transform: translate(0%, 9%);
}

.text-conf {
    position: absolute;
    text-align: center;
    color: black;
    width: 50%;
    left: 24%;
}

.text-in-image {
    top: 25%;
    font-size: 1.1vw;
    color: black;
    width: 50%;
    left: 24%;
}

.text-in-image-bold {
    top: 18%;
    font-size: 1.6vw;
    color: black;
    width: 50%;
    left: 24%;
}

.btn-create-new-game {
    text-align: center;
    width: 20%;
    top: 37%;
    left: 40%;
    font-size: 1vw;
 }

.index__boy_image {
    position: absolute;
    top: 54%;
    left: 60%;
    width: 16%;
}

.index__girl_image {
    position: absolute;
    top: 53%;
    right: 58%;
    transform: translate(0%, 0.9%);
    width: 16%;
}