body {
    font-family: Arial, sans-serif;
    direction: rtl;
    /*background-image: url('../images/BG.png');*/ /* נתיב לתמונת הרקע של המסך */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh; /* גובה גוף העמוד */
    overflow: hidden; /* מניעת גלילה בעמוד כולו */
}

.button-container {
    margin-bottom: 1.25rem;
}

.btn-custom {
    background-color: #b71c1c;
    color: white;
    border: none;
    border-bottom: 0.125rem solid #4a0f0f;
    padding: 0.625rem 1.25rem;
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 3.125rem;
    transition: all 0.3s;
    box-shadow: 0 0.125rem 0 #4a0f0f;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn-custom:hover {
        background-color: #d32f2f;
        color: white;
    }

    .btn-custom:active {
        background-color: #b71c1c;
        box-shadow: inset 0 0.1875rem 0.25rem rgba(0, 0, 0, 0.2);
        transform: translateY(0.0625rem);
    }

    .btn-custom:focus {
        box-shadow: 0 0 0 0.125rem rgba(183, 28, 28, 0.5);
    }

    .btn-custom .button-text {
        display: inline-block;
        transform: translateY(-0.0625rem);
    }

    .btn-custom .plus {
        font-weight: bolder;
        font-size: 1.2em;
        margin-right: 0.3em;
        display: inline-block;
    }

    .btn-custom.position-left {
        position: absolute;
        left: 1rem;
        right: auto;
    }
