<nav>
    <div>
        <NavLink href="" Match="NavLinkMatch.All">
            משחק
        </NavLink>
    </div>
    <div>
        <NavLink href="GamesList">
            עורך
        </NavLink>
    </div>
    <div>
        <NavLink href="About">
            אודות
        </NavLink>
    </div>
</nav>

@code {

}