<nav>
    <div class="logo-container">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </div>
    <div class="nav-links">
        <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
            משחק
        </NavLink>
        <NavLink href="GamesList" class="nav-link">
            עורך
        </NavLink>
        <NavLink href="HowToPlay" class="nav-link">
            איך משחקים
        </NavLink>
        <NavLink href="About" class="nav-link">
            אודות
        </NavLink>
    </div>


</nav>



@code {

  
}

<style>
    .nav-links {
        display: flex;
        gap: 3%; /* שינוי מ-30px ל-3% */
    }

        .nav-links .nav-link {
            text-decoration: none !important;
            color: white !important;
            padding: 1% 1.5%; /* שינוי מ-10px 15px ל-1% 1.5% */
            transition: all 0.3s;
            position: relative;
        }

            .nav-links .nav-link::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2%; /* שינוי מ-2px ל-2% */
                bottom: 0;
                left: 0;
                background-color: white !important;
                transition: width 0.3s ease-out;
            }

            .nav-links .nav-link:hover::after, .nav-links .nav-link:focus::after {
                width: 100% !important;
            }

            .nav-links .nav-link.active {
                color: white !important;
            }

            .nav-links .nav-link:hover, .nav-links .nav-link:focus {
                color: white !important;
                text-decoration: none !important;
            }
</style>

