nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29a7e2; /* גוון הכחול מהמפה ששלחת */
    padding: 5px 10px;
}

.logo-container {
    flex-shrink: 0;
}

.logo {
    height: 40px; /* להתאים את הגובה לפי הצורך */
}

.nav-links {
    display: flex;
    gap: 20px; /* רווחים קטנים יותר בגרסה הכללית */
}
